<app-navbar></app-navbar>
<div class="form-container">
    <div class="d-flex row">
        <h1 class="d-flex form-heading">
             Reset Password
        </h1>
        <div class="d-flex form-box col">
            <form [formGroup]="resetpasswordForm" (ngSubmit)="userResetPassword()">
                <div class="mb-4">
                    <mat-form-field>
                        <mat-label>
                            Username
                        </mat-label>
                        <input matInput type="text" class="form-control" formControlName="username">
                        <mat-error *ngIf="resetpasswordForm.controls['username'].hasError('required')">Mandatory field.</mat-error>
                    </mat-form-field>
                </div> 
                <div class="mb-4">
                    <mat-form-field>
                        <mat-label>
                            Old password
                        </mat-label>
                        <input matInput type="password" class="form-control" formControlName="oldPassword">
                        <mat-error *ngIf="resetpasswordForm.controls['oldPassword'].hasError('required')">Mandatory field.</mat-error>
                        <mat-error *ngIf="resetpasswordForm.controls['oldPassword'].hasError('minlength')">Password must have at least 8 characters.</mat-error>
                        <mat-error *ngIf="resetpasswordForm.controls['oldPassword'].hasError('maxlength')">Password must not exceed 16 characters.</mat-error>
                    </mat-form-field>
                </div> 
                <div class="mb-4">
                    <mat-form-field>
                        <mat-label>
                            New password
                        </mat-label>
                        <input matInput type="password" class="form-control" formControlName="newPassword">
                        <mat-error *ngIf="resetpasswordForm.controls['newPassword'].hasError('required')">Mandatory field.</mat-error>
                        <mat-error *ngIf="resetpasswordForm.controls['newPassword'].hasError('minlength')">Password must have at least 8 characters.</mat-error>
                        <mat-error *ngIf="resetpasswordForm.controls['newPassword'].hasError('maxlength')">Password must not exceed 16 characters.</mat-error>
                    </mat-form-field>
                </div> 
                <button mat-raised-button [disabled]="resetpasswordForm.invalid" class="d-block btn-sign-in mb-4">
                    Update
                </button>
                <a href="" routeLink="/login" class="link-dark">Back to Login </a>
            </form>      
        </div>
        <div class="d-flex col">
            <img src="../../assets/resetPasswordIllustration.png" class="img-login img-fluid">
        </div>
    </div>
    
</div>